@font-face {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Open Sans Regular"; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

h1 {
  font-family: "Open Sans Bold"; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.header {
  background-color: #f2f2f2;
  height: 8vh;
  display: flex;
  align-items: center;
  z-index: 30;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  .header__nav {
    display: flex;
    width: 100%;
    justify-content: space-around; }

.lang {
  display: flex;
  justify-content: space-between; }
  .lang__item {
    text-transform: uppercase;
    color: #8b8b8b;
    font-size: 0.8em;
    padding: 0 20%; }
    .lang__item:first-child {
      border-right: 1px #424242 solid; }
    .lang__item--selected {
      color: #424242;
      font-weight: 600; }

body {
  width: 100vw; }

.main {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex; }
  .main__picture {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .main__content {
    z-index: 20;
    width: 80%;
    margin: 10% 0 0 10%; }
    .main__content__item {
      font-family: "Open Sans Regular";
      font-weight: 500;
      color: #1f1f1f;
      font-size: 0.7em;
      width: 280px; }
  .main__title {
    width: 58%;
    line-height: 1;
    font-family: "Open Sans Bold";
    color: #424242;
    font-size: 2.5em; }
  .main__description {
    width: 60%;
    color: #727272;
    font-size: 0.9em; }
  .main__form {
    width: 220px;
    margin-top: 8%;
    position: relative; }
    .main__form__input {
      height: 40px;
      width: 200px;
      border: 1px solid #dde2e6;
      padding-left: 30px; }
      .main__form__input::placeholder {
        color: #abb2b7; }
    .main__form__button {
      border: 0;
      background-color: #fff;
      position: absolute;
      right: 0;
      top: 10px; }
  .main__callback {
    display: flex;
    align-items: center; }
  .main__call {
    display: flex;
    align-items: center; }

.call__button {
  color: #75af26;
  font-family: "Open Sans Bold";
  font-size: 0.8em; }

.call__img {
  width: 20px;
  padding-right: 10px; }

.call__info {
  color: #424242;
  font-size: 0.8em; }
