@font-face {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Open Sans Regular"; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

h1 {
  font-family: "Open Sans Bold"; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.header {
  background-color: #f2f2f2;
  height: 8vh;
  display: flex;
  align-items: center;
  z-index: 30;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  .header__nav {
    display: flex;
    width: 100%;
    justify-content: space-around; }

.lang {
  display: flex;
  justify-content: space-between; }
  .lang__item {
    text-transform: uppercase;
    color: #8b8b8b;
    font-size: 0.8em;
    padding: 0 20%; }
    .lang__item:first-child {
      border-right: 1px #424242 solid; }
    .lang__item--selected {
      color: #424242;
      font-weight: 600; }

.main {
  padding-top: 7%; }
  .main section {
    margin: 7%; }
  .main__step {
    color: #424242;
    font-size: 0.9em; }
  .main__header {
    color: #424242;
    line-height: 6.5vh;
    font-size: 5.7vh;
    font-weight: normal;
    margin-top: 1%; }
  .main__subtitle {
    font-family: "Open Sans Bold";
    color: #424242;
    font-size: 1.2em;
    font-weight: 900; }
  .main__description {
    color: #595959;
    padding-left: 0; }
    .main__description--bold {
      font-family: "Open Sans Bold"; }
  .main__settings {
    margin: 7%; }
    .main__settings__access {
      padding: 0; }
  .main__button {
    background-color: #dde2e6;
    text-transform: uppercase;
    border: 0;
    font-family: "Open Sans Bold";
    font-weight: 500;
    padding: 2.5vh 32%; }
  .main__media {
    margin: 0; }
    .main__media__content {
      width: 100%;
      padding-left: 0; }

.access__item {
  display: flex;
  align-items: center; }
  .access__item__text {
    font-family: "Open Sans Bold";
    color: #424242;
    font-size: 0.8em;
    font-weight: 900; }
  .access__item__img {
    padding-right: 1%; }

.rules__list__item {
  list-style-type: disc;
  font-family: "Open Sans Bold";
  color: #595959; }

.question__list {
  padding-left: 7%;
  color: #595959; }
  .question__list__item {
    padding-bottom: 5%;
    list-style-type: decimal; }

.remember {
  background-color: #f3f3f3;
  color: #595959;
  padding: 3%;
  font-size: 0.8em;
  border-radius: 8px; }
  .remember__title {
    text-transform: uppercase;
    color: #ff4343;
    font-family: "Open Sans Bold"; }
