@font-face {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-cyrillic-regular.woff2") format("woff2"); }

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/open-sans-cyrillic-bold.woff2") format("woff2"); }

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Open Sans Regular"; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

h1 {
  font-family: "Open Sans Bold"; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.header {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  z-index: 30;
  position: sticky;
  top: 0; }
  .header__nav {
    display: flex;
    width: 100%;
    justify-content: space-around; }

.logo {
  padding: 0.5% 0; }

.lang {
  display: grid;
  grid-template-columns: repeat(3, min-content); }
  .lang__item {
    text-transform: uppercase;
    color: #8b8b8b;
    font-size: 0.8em;
    padding: 0 20%; }
    .lang__item--selected {
      color: #424242;
      font-weight: 600; }

.main section {
  margin: 7%; }

.main__step {
  color: #424242;
  font-size: 0.9em; }

.main__header {
  color: #424242;
  line-height: 6.5vh;
  font-size: 5.7vh;
  font-weight: normal;
  margin-top: 1%; }

.main__subtitle {
  font-family: "Open Sans Bold";
  color: #424242;
  font-size: 1.2em;
  font-weight: 900; }

.main__description {
  color: #595959;
  padding-left: 0; }
  .main__description--bold {
    font-family: "Open Sans Bold"; }

.main__settings__access {
  padding: 0; }

.main__button {
  background-color: #dde2e6;
  text-transform: uppercase;
  border: 0;
  font-family: "Open Sans Bold";
  font-weight: 500;
  padding: 5% 0;
  width: 100%;
  margin-top: 2%; }

.access__item {
  display: flex;
  align-items: center; }
  .access__item__text {
    font-family: "Open Sans Bold";
    color: #424242;
    font-size: 0.8em;
    font-weight: 900; }
  .access__item__img {
    padding-right: 1%; }

.rules__list__item {
  list-style-type: disc;
  font-family: "Open Sans Bold";
  color: #595959; }

.question__list {
  padding-left: 7%;
  color: #595959; }
  .question__list__item {
    padding-bottom: 5%;
    list-style-type: decimal; }

.remember {
  background-color: #f3f3f3;
  color: #595959;
  padding: 3%;
  font-size: 0.8em;
  border-radius: 8px; }
  .remember__title {
    text-transform: uppercase;
    color: #ff4343;
    font-family: "Open Sans Bold"; }

.main__media {
  width: 100%;
  background-color: #f3f3f3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; }
  .main__media::after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .main__media__content {
    position: absolute;
    width: 70%;
    height: 70%;
    clip-path: inset(0% 10% 0% 10%);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }
  .main__media__full {
    background-color: #fff; }
    .main__media__full-video {
      width: 100vw;
      clip-path: inset(0% 8% 0% 8%);
      height: 100%;
      display: block; }
  .main__media__ready {
    position: absolute;
    top: 0;
    left: 5%;
    background-color: #fff;
    border-radius: 17px;
    z-index: 21;
    font-family: "Open Sans Regular";
    font-weight: 600;
    color: #424242;
    letter-spacing: 2px;
    padding: 8px 15px; }
    .main__media__ready-full {
      top: 5%; }

.play {
  position: absolute;
  background-color: #424242;
  width: 98%;
  height: 87%;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .play__text {
    color: #fff;
    font-size: 4vw; }
  .play__img {
    width: 30%; }
